# PostgreSQL update (dbusername and dbpassword should be replaced with your actual database username and password)
DATABASE_URL="postgresql://dbusername:dbpassword@localhost:5432/your_database_name?schema=public"

# app runtime
NODE_ENV="development"

JWT_TOKEN_SECRET=abcdef1234567890

TOKEN_EXPIRATION=5m